# Application
FACE_ATTENDANCE_APP_NAME="Face Attendance API"
FACE_ATTENDANCE_ENVIRONMENT=local
FACE_ATTENDANCE_DEBUG=false
FACE_ATTENDANCE_API_V1_PREFIX=/api/v1

# Logging
FACE_ATTENDANCE_LOG_LEVEL=INFO
FACE_ATTENDANCE_LOG_JSON=false
FACE_ATTENDANCE_LOG_TO_FILE=false
FACE_ATTENDANCE_LOG_FILE_PATH=data/logs/app.log
